customer_dataset_cleaned_imputed.csv
customer_dataset_cleaned_imputed_wrong_cameo_life.csv
imputed_dataset_OLS_mice.csv
imputed_dataset_OLS_mice_no_nan_filtering.csv
imputed_dataset_OLS_mice_no_nan_filtering_index.csv
imputed_dataset_OLS_mice_no_nan_filtering_wrong_cameo_life.csv
Data_Dictionary.md